.idea
.vscode
/.vs/KernelSU/FileContentIndex/456e9bc6-b86d-4f86-bb81-bc88b030f2aa.vsidx
/.vs/KernelSU/FileContentIndex/77f33229-6b3d-46fe-b717-cfe96e8e6bf8.vsidx
/.vs/KernelSU/FileContentIndex
/.vs/slnx.sqlite
/.vs/KernelSU/v17/Browse.VC.db-wal
.vs
/.vs/*
/.vs
